@model Olo42.SAROM.WebApp.Models.Operation

@{
  ViewData["Title"] = Localizer["Einsatz anlegen"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
  <partial name="~/Views/Shared/_MenuPartial.cshtml" />
}

<h3>@Localizer["Einsatz anlegen"]</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AlertDate" class="control-label"></label>
        <input asp-for="AlertDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="AlertDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AlertTime" class="control-label"></label>
        <input asp-for="AlertTime" class="form-control" value="@DateTime.Now.ToShortTimeString()" />
        <span asp-validation-for="AlertTime" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">@Localizer["Zurück zur Übersicht"]</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}