@model IEnumerable<Olo42.SAROM.WebApp.Models.Operation>

@{
  ViewData["Title"] = Localizer["Einsätze"];

  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
  <partial name="~/Views/Shared/_MenuPartial.cshtml" />
}

<h4>@Localizer["Einsätze"]</h4>
   @*|
    <a href="#">@Localizer["Einsatz importieren"]</a>*@

<hr class="dashed mb-0" />
<a asp-action="Create" class="link-new-element">@Localizer["Neuen Einsatz anlegen"]</a>
<table class="table table-sm table-borderless table-hover mt-3">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Alerted)
      </th>
      <th>@Localizer["Status"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @if (item.IsClosed == false)
          {
            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
          }
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Alerted)
        </td>
        <td>
          @(item.IsClosed == true ? @Localizer["abgeschlossen"] : @Localizer["laufend"])
        </td>
      </tr>
    }
  </tbody>
</table>
@section Scripts {
  <script>
    function print(id) {
      window.open("/Operations/Print/" + id, "_blank",
        "menubar=no, toolbar=no, resizable=no, top=100, left=200, width=800, height=1024");
    };
  </script>
}