@model IEnumerable<Olo42.SAROM.WebApp.Models.UserViewModel>

@{
  ViewData["Title"] = @Localizer["Benutzer"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Localizer["Benutzer"]</h4>
<hr class="dashed mb-0" />

@if(ViewData.ContainsKey("Error")) {
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>ViewData["Error"]</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
  </button>
</div>
}
<table class="table table-sm table-borderless table-hover mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName )
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">@Localizer["anzeigen"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a class="btn btn-sm btn-success" asp-action="Create">@Localizer["Benutzer anlegen"]</a>
</div>