@model Olo42.SAROM.WebApp.Models.UserViewModel

@{
  ViewData["Title"] = Localizer["Benutzer Details"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.FullName</h4>
<hr class="dashed mb-0" />
<div class="mt-3">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.LoginName">@Localizer["Bearbeiten"]</a>
    <a class="btn btn-sm btn-danger" asp-action="Edit" asp-route-id="@Model.LoginName">@Localizer["Löschen"]</a>
     <a class="btn btn-sm btn-light" asp-action="Index">@Localizer["Zurück"]</a>
</div>