@model IEnumerable<Olo42.SAROM.WebApp.Models.UserViewModel>

@{
  ViewData["Title"] = @Localizer["Benutzer"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Localizer["Benutzer"]</h4>
<hr class="dashed" />
<p>
    <a asp-action="Create">@Localizer["Benutzer anlegen"]</a>
</p>
@if(ViewData.ContainsKey("Error")) {
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>ViewData["Error"]</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
  </button>
</div>
}
<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.LoginName, "Details", new { userId = item.LoginName })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName )
            </td>
        </tr>
    }
    </tbody>
</table>