@model IEnumerable<Olo42.SAROM.WebApp.Models.UserViewModel>

@{
  ViewData["Title"] = @Localizer["Benutzer"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Benutzer"]</h3>

<p>
    <a asp-action="Create">@Localizer["Benutzer anlegen"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a href="#">@Html.DisplayFor(modelItem => item.FullName )</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
        </tr>
    }
    </tbody>
</table>