@model IEnumerable<Olo42.SAROM.WebApp.Models.UserViewModel>

@{
  ViewData["Title"] = @Localizer["Benutzer"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Benutzer"]</h3>

<p>
    <a asp-action="Create">@Localizer["Benutzer anlegen"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
    }
    </tbody>
</table>