@model IEnumerable<SAROM.Models.MissingPerson>

@{
  ViewData["Title"] = "Vermisste";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

  <h3>@Localizer["Vermisste"]</h3>

  <p>
    <a asp-action="Create" asp-route-id="@ViewBag.OperationId">@Localizer["erfassen"]</a> | 
    <a asp-action="Details" asp-controller="Operations" asp-route-id="@ViewBag.OperationId">@Localizer["zurück zum Einsatz"]</a>
  </p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DateOfBirth)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.MissingSince)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.MissingSince)
      </td>
      <td>
        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["anzeigen"]</a> |
        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["bearbeiten"]</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["löschen"]</a>
      </td>
    </tr>
    }
  </tbody>
</table>
