@model Olo42.SAROM.WebApp.Models.UnitViewModel

@{
  ViewData["Title"] = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>

<div>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.GroupLeader)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.GroupLeader)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PagerNumber)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PagerNumber)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.AreaSeeker)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.AreaSeeker)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Mantrailer)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Mantrailer)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.DebrisSearcher)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.DebrisSearcher)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.WaterLocators)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.WaterLocators)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Helpers)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Helpers)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Bearbeiten"]</a> |
  <a asp-action="Index" asp-route-id="@Model.OperationId">@Localizer["Zurück zur Übersicht"]</a>
</div>