@model SAROM.Models.Operation

@{
  ViewData["Title"] = Localizer["Einsatz"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  <h3>@Localizer["Einsatz"] @Html.DisplayFor(model => model.Name)</h3>
  <hr />
  <div style="padding-bottom: 20px;">
    <a asp-action="Index" asp-controller="OperationActions" asp-route-id="@Model.Id">@Localizer["Protokoll"]</a> |
    <a asp-action="Index" asp-controller="Units" asp-route-id="@Model.Id">@Localizer["Kräfte"]</a> |
    <a asp-action="Index" asp-controller="MissingPersons" asp-route-id="@Model.Id">@Localizer["Vermisste"]</a> |
    <a asp-action="Index">@Localizer["zurück zur Übersicht"]</a>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <dl>
        <dt>@Localizer["EinsatzNr."]</dt>
        <dd>@Model.Number</dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>@Localizer["Alarmierung"]</dt>
        <dd>
          @Convert.ToDateTime(@Model.AlertDate).ToShortDateString() <br />
          @Model.AlertTime @Localizer["Uhr"]
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>@Localizer["Kontakt POL"]</dt>
        <dd>
          @Model.PoliceContact <br />
          @Model.PoliceContactPhone
        </dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt></dt>
        <dd>
          <a asp-action="Edit" class="form-control-sm" asp-route-id="@Model.Id">@Localizer["Einsatz bearbeiten"]</a> <br />
          @*<a href="#" class="form-control-sm">@Localizer["Einsatz exportieren"]</a> <br />*@
          <a asp-action="Close" class="form-control-sm" asp-route-id="@Model.Id" style="color: red;">@Localizer["Einsatz schließen"]</a>
        </dd>
      </dl>
    </div>
  </div>
  <h4 style="margin-left: 0.2rem;">@Localizer["Einsatzprotokoll"]</h4>
  <div class="row">
    <div class="col-md-12">
      <form asp-action="Create" asp-controller="OperationActions" class="form-horizontal">
        <input type="hidden" id="OperationId" name="OperationId" value="@Model.Id" />
        <div class="form-group">
          <select name="oAction" class="form-control">
            <option disabled selected>@Localizer["Aktion"]</option>
            <option value="Auftrag / Befehl">@Localizer["Auftrag / Befehl"]</option>
            <option value="Meldung">@Localizer["Meldung"]</option>
            <option value="Suche startet">@Localizer["Meldung Suche startet"]</option>
            <option value="Person gefunden">@Localizer["Meldung Person gefunden"]</option>
            <option value="Suche beendet">@Localizer["Meldung Suche beendet"]</option>
            <option value="Rückt ab">@Localizer["Meldung Rückt ab"]</option>
          </select>
        </div>
        @if (@Model.Units.Count > 0)
        {
          <div class="form-group">
            <select name="unitname" class="form-control">
              <option disabled selected>@Localizer["Einheit"]</option>
              @foreach (var unit in Model.Units)
              {
                <option value="@unit.Name">@unit.Name</option>
              }
            </select>
          </div>
        }
        <div class="form-group">
          <input name="message" class="form-control" placeholder="@Localizer["Protokolleintrag / Kommentar"]" />
        </div>
        <div class="form-group">
          <input type="submit" value="@Localizer["Speichern"]" class="btn btn-sm btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>

<table class="table">
  <tbody>
    @foreach (var item in Model.OperationActions.TakeLast(5).OrderByDescending(i => i.Created))
    {
    <tr class="d-flex">
      <td class="col-1">@item.Created.ToShortTimeString()</td>
      <td class="col-11">
        <i>@Html.DisplayFor(modelItem => item.Action)</i>
        <u>@Html.DisplayFor(modelItem => item.UnitName)</u>
        @Html.DisplayFor(modelItem => item.Message)
      </td>
    </tr>
    }
  </tbody>
</table>
@*<div class="col-5">
    <h4>@Localizer["Einheiten"]</h4>
    <table class="table">
      <tbody>
        @foreach (var item in Model.Units)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.PagerNumber)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.PagerNumber)
            </td>
            <td>
              <a asp-action="Details" asp-controller="Unit" asp-route-id="@item.Id">@Localizer["ansehen"]</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>*@
