@model SAROM.Models.Operation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
  ViewData["Title"] = Localizer["Einsatz"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  <h3>@Localizer["Einsatz"] @Html.DisplayFor(model => model.Name)</h3>
  <hr />
  <div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Einsatzdetails"]</a> |
    <a asp-controller="OperationActions" asp-action="Create" asp-route-id="@Model.Id">@Localizer["Log"]</a> |
    <a asp-controller="Units" asp-action="Index" asp-route-id="@Model.Id">@Localizer["Einheiten"]</a> |
    <a asp-action="Index">@Localizer["Zurück zur Übersicht"]</a>
  </div>
  <h4 style="margin-top: 30px;">@Localizer["Einsatztagebuch"]</h4>
  <div class="row">
    <div class="col-5">
      <table class="table">
        <thead>
          <tr>
            <th style="border-top: 0; padding-left: 0px;">
              @Localizer["Beschreibung"]
            </th>
            <th style="border-top: 0; padding-left: 0px;"></th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model.OperationActions.TakeLast(5).OrderBy(i => i.Id))
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.Message)
              </td>
              <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
