@model SAROM.Models.Operation

@{
  ViewData["Title"] = Localizer["Einsatz"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div>
    <div class="d-flex flex-row justify-content-between">
      <div>
        <dl>
          <dt>@Localizer["Alarm"]</dt>
          <dd>
            @Convert.ToDateTime(@Model.AlertDate).ToShortDateString()
            <nobr>@Model.AlertTime @Localizer["Uhr"]</nobr>
          </dd>
        </dl>
      </div>
      <div>
        <dl>
          <dt>@Localizer["LST"]</dt>
          <dd>
            @Model.Headquarter
            <nobr>@Model.HeadquarterContact</nobr>
          </dd>
        </dl>
      </div>
      <div>
        <dl>
          <dt>@Localizer["POL"]</dt>
          <dd>
            @Model.PoliceContact
            <nobr>@Model.PoliceContactPhone</nobr>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form asp-action="Create" asp-controller="OperationActions" class="form-horizontal">
          <div class="form-group">
            <div class="input-group input-group-sm">
              <select name="oAction" class="form-control">
                <option disabled selected>@Localizer["Aktion"]</option>
                <option value="Auftrag / Befehl">@Localizer["Auftrag / Befehl"]</option>
                <optgroup label="Meldungen">
                  <option value="Meldung">@Localizer["Meldung"]</option>
                  <option value="Suche startet">@Localizer["Suche startet"]</option>
                  <option value="Person gefunden">@Localizer["Person gefunden"]</option>
                  <option value="Suche beendet">@Localizer["Suche beendet"]</option>
                  <option value="Rückt ab">@Localizer["Rückt ab"]</option>
                </optgroup>
                <optgroup label="Standardmaßnahmen">
                  <option value="Gebäude / Einrichtung durchsucht">@Localizer["Gebäude / Einrichtung durchsucht"]</option>
                  <option value="Transpot durch RDS">@Localizer["Transport durch RDS"]</option>
                  <option value="Umliegende KH abgefragt">@Localizer["Umliegende KH abgefragt"]</option>
                </optgroup>
              </select>
              @if (@Model.Units.Count > 0)
              {
                <select name="unitname" class="form-control">
                  <option disabled selected>@Localizer["Einheit"]</option>
                  @foreach (var unit in Model.Units)
                  {
                    <option value="@unit.Name">@unit.Name</option>
                  }
                </select>
              }
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">
              <input name="message" class="form-control" style="margin-right: 10px;" placeholder="@Localizer["Protokolleintrag / Kommentar"]" />
              @*<div class="input-group-prepend">*@
              <button type="submit" class="btn btn-primary btn-sm">@Localizer["Speichern"]</button>
              @*</div>*@
            </div>
          </div>
          <input type="hidden" id="OperationId" name="OperationId" value="@Model.Id" />
        </form>
      </div>
    </div>
  </div>

  <h5 style="margin-left: 0.2rem;">@Localizer["Protokoll"]</h5>
<table class="table">
  <tbody>
    @foreach (var item in Model.OperationActions)
    {
      <tr class="d-flex">
        <td class="col-2">@item.Created.ToShortTimeString()</td>
        <td class="col-10">
          <i>@Html.DisplayFor(modelItem => item.Action)</i>
          <u>@Html.DisplayFor(modelItem => item.UnitName)</u>
          @Html.DisplayFor(modelItem => item.Message)
        </td>
      </tr>
    }
  </tbody>
</table>

@section Scripts {
  <script>
$("#printButton").click(function () {
        window.open("/Operations/Print/@Model.Id", "_blank",
            "menubar=no, toolbar=no, resizable=no, top=100, left=200, width=600, height=800");
    });
  </script>
}