@model IEnumerable<SAROM.Models.Operation>

@{
  ViewData["Title"] = Localizer["Einsätze"];

  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Einsätze"]</h3>

<p>
  <a asp-action="Create">@Localizer["Neuen Einsatz anlegen"]</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.AlertDate)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.AlertTime)
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.AlertDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.AlertTime)
        </td>
        <td>
          @(item.IsClosed == true ? @Localizer["beendet"] : @Localizer["offen"])
        </td>
        <td align="right">
          <a asp-action="Details" asp-route-id="@item.Id">@Localizer["anzeigen"]</a>
        </td>
      </tr>
    }
  </tbody>
</table>
