@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Options.IOptions<SAROMSettings> Settings;

@model SAROM.Models.Operation

@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAROM</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
  </environment>
  <link rel="stylesheet" href="~/css/site.css" />
  <style>
    .page-break {
      display: block;
      page-break-before: always;
    }
  </style>
</head>
<body>

  <div class="container">
    <main role="main" class="pb-3">
      <br />
      <h4>@Localizer["Einsatz"] @Html.DisplayFor(model => model.Name)</h4>
      <hr />

      @*<a href="#" onclick="window.print()">Drucken</a>*@

      <div class="d-flex flex-row justify-content-between">
        <div>
          <dl>
            <dt>@Localizer["EinsatzNr."]</dt>
            <dd>@Model.Number</dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>@Localizer["Alarmierung"]</dt>
            <dd>
              @Convert.ToDateTime(@Model.AlertDate).ToShortDateString() <br />
              @Model.AlertTime @Localizer["Uhr"]
            </dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>@Localizer["Kontakt POL"]</dt>
            <dd>
              @Model.PoliceContact <br />
              @Model.PoliceContactPhone
            </dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>@Localizer["Leitstelle"]</dt>
            <dd>
              @Model.Headquarter <br />
              @Model.HeadquarterContact
            </dd>
          </dl>
        </div>
        <div>
          <dl>
            <dt>@Html.DisplayNameFor(model => model.OperationLeader)</dt>
            <dd>@Html.DisplayFor(model => model.OperationLeader)</dd>
          </dl>
        </div>
      </div>
      <br />
      <div>
        <h5>@Localizer["Einsatzprotokoll"]</h5>
        <table class="table">
          <tbody>
            @foreach (var item in Model.OperationActions.OrderByDescending(i => i.Created))
            {
              <tr class="d-flex">
                <td class="col-1">@item.Created.ToShortTimeString()</td>
                <td class="col-11">
                  <i>@Html.DisplayFor(modelItem => item.Action)</i>
                  <u>@Html.DisplayFor(modelItem => item.UnitName)</u>
                  @Html.DisplayFor(modelItem => item.Message)
                </td>
              </tr>
            }
          </tbody>
        </table>
        @if (Model.IsClosed)
        {
          <h6>@Localizer["Abschlußbericht"]</h6>
          <div>@Model.ClosingReport</div>
          <br />
        }
      </div>

      <br />

      <div>
        <h5>@Localizer["Eingesetzte Einheiten"]</h5>

        <table class="table">
          <thead>
            <tr>
              <th>
                @Localizer["Name"]
              </th>
              <th>
                @Localizer["FRN"]
              </th>
              <th>
                @Localizer["GF"]
              </th>
              <th>
                @Localizer["FL"]
              </th>
              <th>
                @Localizer["MT"]
              </th>
              <th>
                @Localizer["TR"]
              </th>
              <th>
                @Localizer["WO"]
              </th>
              <th>
                @Localizer["H"]
              </th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Units)
            {
              <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.PagerNumber)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.GroupLeader)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.AreaSeeker)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Mantrailer)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.DebrisSearcher)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.WaterLocators)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Helpers)
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <br />
      <div class="page-break"></div>
      <div>
        <h5>@Localizer["Vermisst"]</h5>
        <hr />
        @foreach (var item in Model.MissingPeople)
        {
      <div>
        <h3>
          @Html.DisplayFor(missingPerson => item.Name)
        </h3>
        <dl class="row">
          @{
            if (item.Documents.Count > 0)
            {
              var documentBasePath = Settings.Value.GetMissingPeopleOnlinePath(item.OperationId, item.Id);
              <dt class="col-12">
                @foreach (var document in item.Documents)
                {
                  var documentOnlinePath = System.IO.Path.Combine(documentBasePath, document.FullName);
                  <img src="@documentOnlinePath" style="max-width: 200px; max-height: 200px;" />
                }
              </dt>
            }
          }
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.MissingSince)
          </dt>
          <dd class="col-9">
            @item.MissingSince.ToShortDateString()
            @item.MissingSince.ToShortTimeString()
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.DateOfBirth)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.DateOfBirth)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Gender)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Gender)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Size)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Size)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Weight)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Weight)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.SkinType)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.SkinType)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.HairColor)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.HairColor)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.EyesColour)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.EyesColour)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Clothes)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Clothes)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Ailments)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Ailments)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.Medications)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.Medications)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.KnownPlaces)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.KnownPlaces)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.SpecialCharacteristics)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.SpecialCharacteristics)
          </dd>
          <dt class="col-3">
            @Html.DisplayNameFor(missingPerson => item.FurtherInformation)
          </dt>
          <dd class="col-9">
            @Html.DisplayFor(missingPerson => item.FurtherInformation)
          </dd>
        </dl>
      </div>
        }
      </div>
    </main>
  </div>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
  </environment>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>