@model SAROM.Models.Operation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <h3>@Localizer["Einsatz"] @Model.Name @Localizer["abschließen"] </h3>

<hr />
<div class="row">
    <div class="col-md-12">
      <form asp-action="Close">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
          <label asp-for="ClosingReport" class="control-label"></label>
          <textarea asp-for="ClosingReport" class="form-control" rows="5"></textarea>
          <span asp-validation-for="ClosingReport" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary" />
        </div>
      </form>
    </div>
</div>

<div>
  <a asp-action="Details" asp-route-id="@Model.Id">@Localizer["zurück"] </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
