@model IEnumerable<SAROM.Models.OperationAction>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Localizer["Einsatzprotokoll"]</h3>

<p>
  <a asp-action="Details" asp-controller="Operations" asp-route-id="@ViewBag.OperationId">@Localizer["zurück zum Einsatz"]</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Created)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Action)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.UnitName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Message)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @item.Created.ToShortDateString()
        @item.Created.ToShortTimeString()
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Action)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.UnitName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Message)
      </td>
      @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
    </tr>
    }
  </tbody>
</table>